@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

.file-input::file-selector-button {
  @apply mr-4 py-2 px-4 rounded border-0 text-sm font-semibold bg-blue-50 text-blue-700 hover:bg-blue-100;
}